<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />

    <title>
        <%= title %>
    </title>
    <link href="https://cdn.bootcss.com/jstree/3.3.5/themes/default/style.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.3.5/jstree.min.js"></script>
    <link href="/<%= app %>/public/css/main.css?t=<%=new Date().getTime()%>" rel="stylesheet">
</head>

<style>
</style>

<body>
    <div class="menu">
        <div class="con">
                连接添加：
                <button class="btn_create">create</button>
                <button class="btn_delete">delete</button>
                <button class="btn_edit">edit</button>
        </div>
        <div class="dealValue">
            数据操作：
            <button>添加值</button>
            <button>删除</button>
            <button>设置过期时间</button>
            <button>查看redis 相关信息</button>
        </div>
    </div>
    <div id="jstree"></div>
    <div class="data">
        <div contenteditable="true" class="show"></div>
    </div>

    <div class="alert_bg" hidden>

    </div>
    <div class="add_con" hidden>
            <p class="title">创建连接</p>
            <br/>
            <input type="text" class="txtName" placeholder="输入登录名称">
            <br/>
            <input type="text" class="txtIp" placeholder="ip" value="127.0.0.1">
            <br/>
            <input type="text" class="txtPwd" placeholder="Auth">
            <br/>
            <input type="text" class="txtPort" placeholder="端口号" value="6379">
            <br/>
    
            <button class="test">点击测试连接</button>
            <br/>
            <button class="btn-cancel">Cancel</button>
            <button class="btn-submit">OK</button>
    </div>
</body>

</html>
<script type="text/javascript" src="/<%= app %>/public/main.js?t=<%=new Date().getTime()%>"></script>