<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />

    <title>
        <%= title %>
    </title>
    <link href="https://cdn.bootcss.com/jstree/3.3.5/themes/default/style.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jstree/3.3.5/jstree.min.js"></script>
    <link href="/<%= app %>/public/css/login.css?t=<%=new Date().getTime()%>" rel="stylesheet">
</head>

<body>
    <div class="login">
        <h1 class="home-h1">Redis Login</h1>
        <input type="text" class="txtName" placeholder="输入登录名称">
        <br/>
        <input type="text" class="txtIp" placeholder="ip" value="127.0.0.1">
        <br/>
        <input type="text" class="txtPwd" placeholder="密码">
        <br/>
        <input type="text" class="txtPort" placeholder="端口号" value="6379">
        <br/>

        <button class="test">点击测试连接</button>
        <br/>
        <button class="btn-cancel">Cancel</button>
        <button class="btn-submit">OK</button>
        
    </div>
</body>

</html>
<script type="text/javascript" src="/<%= app %>/public/login.js?t=<%=new Date().getTime()%>"></script>